.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 24px;
    color: #6a4e23; /* Match the theme color */
    padding: 10px;
  }
  
  .search-bar {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filtered-products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-card h3 {
    font-size: 18px;
    color: #333;
  }
  
  .product-card p {
    font-size: 14px;
    color: #666;
  }
  